%h1 Listing games

%table
  %tr
    %th User1
    %th User2
    %th Status
    %th
    %th
    %th

  - @games.each do |game|
    %tr
      %td= game.user1_id
      %td= game.user2_id
      %td= game.status
      %td= link_to 'Show', game
      %td= link_to 'Edit', edit_game_path(game)
      %td= link_to 'Destroy', game, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Game', new_game_path
