%h1 Game

#hexagon-wrap
  #hexagon-wrap-inner
    - @game.hexes.each do |hex|
      #hexagon
        .hexagon-inner.edit-word
          = hex.word
          %div{ style: 'display: none;' }
            .edit-hex-dialog{ title: 'Edit Word' }
              = form_for [hex.game, hex] do |f|
                = f.text_field :word
                = f.submit 'OK'
    %div{ style: 'clear: both;' }

= link_to 'Back', games_path
